{% extends 'base.html' %}

{% load static %}

{% load colaborador_tags %}

<title> {% block title %} Posts {% endblock title %} </title>
{% block contenido %}

<section class="container py-5">
    <h2>Ordenar por:</h2>
    <ul>
        <a role="button" class="btn btn-success" href="{% url 'apps.posts:posts' %}?orden=reciente">Más reciente</a>
        <a role="button" class="btn btn-success" href="{% url 'apps.posts:posts' %}?orden=antiguo">Más antiguo</a>
        <a role="button" class="btn btn-success" href="{% url 'apps.posts:posts' %}?orden=alfabetico">Orden
            alfabético</a>
        <a role="button" class="btn btn-success" href="{% url 'apps.posts:categoria_lista' %}">Listar todas las
            categorias</a>
    </ul>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="col d-grid">
        <br><a role="button" class="btn btn-success" href="{% url 'apps.posts:posteo' %}">Crear nuevo post</a><br>
        <br><a role="button" class="btn btn-success" href="{% url 'apps.posts:crear_categoria' %}">Crear nueva categoría</a>
    </div>
    {% endif %}
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Últimos posts sobre Smart Cities</h1>
            <p>

            </p>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-12 col-md-4 p-5 mt-3">
            <h4 class="text-center mt-3 mb-3">{{ post.titulo | capfirst }}</h4>
            <h6 class="text-center mt-6 mb-6">{{ post.fecha|date:"d \d\e F \d\e Y" }}</h6>
            <div class="text-center mt-3 mb-3">
                <a><img src="{{ post.imagen.url }}" class="rounded-circle img-fluid border"
                        style="width: 150px; height: 150px;"></a>
                <br>
                <h6 class="text-center mt-1 mb-1">{{ post.resumen }}</h6>
            </div>
            <p class="text-center"><a class="btn btn-success"
                    href="{% url 'apps.posts:post_individual' post.id %}">Ingresá</a></p>
        </div>
        {% empty %}
        <li>No hay posts</li>
        {% endfor %}
    </div>


    <script>
        document.getElementById('categoria').addEventListener('change', function () {
            var categoria = this.value;
            if (categoria) {
                window.location.href = '/posts/' + categoria + '/';
            } else {
                window.location.href = '/posts/';
            }
        });
    </script>
    <script>
        function updateUrl() {
            var categoria = document.getElementById('categoria').value;
            var orden = document.getElementById('orden').value;
            var fecha = document.getElementById('fecha').value;

            var url = '/posts/';
            if (categoria) {
                url += categoria + '/';
            }
            if (orden || fecha) {
                url += '?';
                if (orden) {
                    url += 'orden=' + orden;
                    if (fecha) {
                        url += '&';
                    }
                }
                if (fecha) {
                    url += 'fecha=' + fecha;
                }
            }

            window.location.href = url;
        }

        document.getElementById('categoria').addEventListener('change', updateUrl);
        document.getElementById('orden').addEventListener('change', updateUrl);
        document.getElementById('fecha').addEventListener('change', updateUrl);
    </script>
</section>
{% endblock %}